mycollab-app-community/src/main/izpack/izpack-installation-5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ IzPack - Copyright 2001-2012 Julien Ponge, All Rights Reserved.
  ~
  ~ http://izpack.org/
  ~ http://izpack.codehaus.org/
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="unqualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:types="http://izpack.org/schema/types"
           targetNamespace="http://izpack.org/schema/installation"
           xmlns="http://izpack.org/schema/installation">

    <xs:import namespace="http://izpack.org/schema/types"
               schemaLocation="http://izpack.org/schema/5.0/izpack-types-5.0.xsd"/>

    <!--                                                                                                        -->
    <!-- Root element                                                                                           -->
    <!--                                                                                                        -->
    <xs:element name="installation">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="properties" type="propertiesType" minOccurs="0"/>
                <xs:element name="info" type="infoType" minOccurs="1"/>
                <xs:element name="variables" type="variablesType" minOccurs="0"/>
                <xs:element name="dynamicvariables" type="dynamicVariablesType" minOccurs="0"/>
                <xs:element name="conditions" type="types:conditionsType" minOccurs="0"/>
                <xs:element name="installerrequirements" type="installerRequirementsType" minOccurs="0"/>
                <xs:element name="dynamicinstallerrequirements" type="dynamicInstallerRequirementsType" minOccurs="0"/>
                <xs:element name="guiprefs" type="guiPrefsType" minOccurs="0"/>
                <xs:element name="locale" type="localeType" minOccurs="1"/>
                <xs:element name="resources" type="resourcesType" minOccurs="0"/>
                <xs:element name="packaging" type="packagingType" minOccurs="0"/>
                <xs:element name="jar" type="jarType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="listeners" type="listenersType" minOccurs="0"/>
                <xs:element name="panels" type="panelsType" minOccurs="1"/>
                <xs:element name="packs" type="packsType" minOccurs="1"/>
                <xs:element name="natives" type="nativesType" minOccurs="0"/>
            </xs:choice>
            <xs:attribute name="version" type="xs:string" fixed="5.0"/>
        </xs:complexType>
    </xs:element>


    <!--                                                                                                        -->
    <!-- Properties                                                                                             -->
    <!--                                                                                                        -->
    <xs:complexType name="propertiesType">
        <xs:sequence>
            <xs:element name="property" type="nameValueType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <!--                                                                                                        -->
    <!-- Installation info                                                                                      -->
    <!--                                                                                                        -->
    <xs:complexType name="infoType">
        <xs:all>
            <xs:element name="appname" type="xs:string"/>
            <xs:element name="appversion" type="xs:string"/>
            <xs:element name="appsubpath" type="xs:string" minOccurs="0"/>
            <xs:element name="authors" type="authorsType" minOccurs="0"/>
            <xs:element name="url" type="xs:string" minOccurs="0"/>
            <xs:element name="javaversion" type="xs:string" minOccurs="0"/>
            <xs:element name="requiresjdk" type="xs:string" minOccurs="0"/>
            <xs:element name="pack200" minOccurs="0"/>
            <xs:element name="tempdir" type="tempDirType" minOccurs="0" />
            <xs:element name="run-privileged" type="runPrivilegedType" minOccurs="0"/>
            <xs:element name="summarylogfilepath" type="xs:string" minOccurs="0"/>
            <xs:element name="uninstaller" type="uninstallerType" minOccurs="0"/>
            <xs:element name="writeinstallationinformation" type="types:yesNoTrueFalseType" minOccurs="0"/>
            <xs:element name="rebootaction" type="rebootActionType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="authorsType">
        <xs:sequence>
            <xs:element name="author" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute type="xs:string" name="email" use="optional"/>
                    <xs:attribute type="xs:string" name="name" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

  <xs:complexType name="tempDirType">
    <xs:attribute type="xs:string" name="variablename" use="optional" />
    <xs:attribute type="xs:string" name="prefix" use="optional" />
    <xs:attribute type="xs:string" name="suffix" use="optional" />
  </xs:complexType>

    <xs:complexType name="runPrivilegedType">
        <xs:attribute type="xs:string" name="condition" use="optional"/>
    </xs:complexType>

    <xs:complexType name="uninstallerType">
        <xs:attribute type="types:yesNoTrueFalseType" name="write" use="optional" default="yes"/>
        <xs:attribute type="xs:string" name="path" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="rebootActionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ignore"/>
            <xs:enumeration value="notice"/>
            <xs:enumeration value="ask"/>
            <xs:enumeration value="always"/>
        </xs:restriction>
    </xs:simpleType>


    <!--                                                                                                        -->
    <!-- Variables                                                                                              -->
    <!--                                                                                                        -->
    <xs:complexType name="variablesType">
        <xs:sequence>
            <xs:element name="variable" type="types:variableType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <!--                                                                                                        -->
    <!-- Dynamic variables                                                                                      -->
    <!--                                                                                                        -->
    <xs:complexType name="dynamicVariablesType">
        <xs:sequence>
            <xs:element name="variable" type="types:dynamicVariableType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <!--                                                                                                        -->
    <!-- Installer requirements                                                                                 -->
    <!--                                                                                                        -->
    <xs:complexType name="installerRequirementsType">
        <xs:sequence>
            <xs:element name="installerrequirement" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="condition" type="xs:string" use="required"/>
                    <xs:attribute name="message" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!--                                                                                                        -->
    <!-- Dynamic installer requirements                                                                         -->
    <!--                                                                                                        -->
    <xs:complexType name="dynamicInstallerRequirementsType">
        <xs:sequence>
            <xs:element name="installerrequirement" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="status" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="warning"/>
                                <xs:enumeration value="error"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="condition" type="xs:string" use="required"/>
                    <xs:attribute name="messageid" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!--                                                                                                        -->
    <!-- GUI preferences                                                                                        -->
    <!--                                                                                                        -->
    <xs:complexType name="guiPrefsType">
        <xs:sequence>
            <xs:element name="modifier" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="key" type="xs:string" use="required"/>
                    <xs:attribute name="value" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="laf" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="param" type="nameValueType" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="os" type="types:osType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="splash" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="height" type="xs:string"/>
        <xs:attribute name="resizable" type="xs:string"/>
        <xs:attribute name="width" type="xs:string"/>
    </xs:complexType>


    <!--                                                                                                        -->
    <!-- Locale                                                                                                 -->
    <!--                                                                                                        -->
    <xs:complexType name="localeType">
        <xs:sequence>
            <xs:element name="langpack" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute type="xs:string" name="iso3" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!--                                                                                                        -->
    <!-- Resources                                                                                              -->
    <!--                                                                                                        -->
    <xs:complexType name="resourcesType">
        <xs:sequence>
            <xs:element name="res" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="src" type="xs:string" use="required"/>
                            <xs:attribute name="id" type="xs:string" use="required"/>
                            <xs:attribute name="type" type="substitutionType" default="plain"/>
                            <xs:attribute name="parse" type="types:yesNoTrueFalseType" use="optional" default="no"/>
                            <xs:attribute name="parsexml" type="types:yesNoTrueFalseType" use="optional" default="no"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!--                                                                                                        -->
    <!-- Packaging                                                                                              -->
    <!--                                                                                                        -->
    <xs:complexType name="packagingType">
        <xs:sequence>
            <xs:element name="packager" type="packagerType"/>
            <xs:element name="unpacker" type="unpackerType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="packagerType">
        <xs:sequence>
            <xs:element name="options">
                <xs:complexType>
                    <xs:attribute name="volumesize" type="xs:string" use="required"/>
                    <xs:attribute name="firstvolumefreespace" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="class" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="unpackerType">
        <xs:attribute name="class" type="xs:string" use="required"/>
    </xs:complexType>


    <!--                                                                                                        -->
    <!-- JAR files                                                                                              -->
    <!--                                                                                                        -->
    <xs:complexType name="jarType">
        <xs:sequence>
            <xs:element name="os" type="types:osType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="src" type="xs:string" use="required"/>
        <xs:attribute name="stage" use="optional" default="install">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="both"/>
                    <xs:enumeration value="uninstall"/>
                    <xs:enumeration value="install"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>


    <!--                                                                                                        -->
    <!-- Listeners                                                                                              -->
    <!--                                                                                                        -->
    <xs:complexType name="listenersType">
        <xs:sequence>
            <xs:element name="listener" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:element name="os" type="types:osType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="classname" type="xs:string" use="required"/>
                    <xs:attribute name="stage" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="install"/>
                                <xs:enumeration value="uninstall"/>
                                <xs:enumeration value="compiler"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="jar" type="xs:string" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!--                                                                                                        -->
    <!-- Panels                                                                                                 -->
    <!--                                                                                                        -->
    <xs:complexType name="panelsType">
        <xs:sequence>
            <xs:element name="panel" type="panelType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:attributeGroup name="panelConfigurationOptionGroup">
      <xs:attribute name="condition" type="xs:string" use="optional" />
    </xs:attributeGroup>

    <xs:complexType name="panelType">
        <xs:sequence>
            <xs:element name="configuration" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <!-- <xs:element name="param" type="nameValueType" minOccurs="0" maxOccurs="unbounded"/> -->
                        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="panelConfigurationOptionGroup"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="validator" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute type="xs:string" name="classname" use="required"/>
                    <xs:attribute type="xs:string" name="condition" use="optional"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="actions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="action" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="param" type="nameValueType" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attribute name="stage" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="preconstruct"/>
                                            <xs:enumeration value="preactivate"/>
                                            <xs:enumeration value="postconstruct"/>
                                            <xs:enumeration value="prevalidate"/>
                                            <xs:enumeration value="postvalidate"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="classname" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="os" type="types:osType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="help" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="iso3" type="xs:string" use="required"/>
                    <xs:attribute name="src" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="classname" use="optional"/>
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="encoding" use="optional"/>
        <xs:attribute type="xs:string" name="condition" use="optional"/>
    </xs:complexType>


    <!--                                                                                                        -->
    <!-- Packs                                                                                                  -->
    <!--                                                                                                        -->
    <xs:complexType name="packsType">
        <xs:sequence>
            <xs:element name="pack" type="packType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="refpack" type="refpackType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="refpackset" type="refpackSetType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="packType">
        <xs:sequence>
            <xs:element name="description" type="xs:string" maxOccurs="1"/>
            <xs:element name="onSelect" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="condition" type="xs:string" use="optional"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="onDeselect" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="condition" type="xs:string" use="optional"/>
                </xs:complexType>
            </xs:element>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="fileset" type="fileSetTypeDisk"/>
                <xs:element name="file" type="fileType"/>
                <xs:element name="singlefile" type="singleFileType"/>
                <xs:element name="parsable" type="parsableType"/>
                <xs:element name="executable" type="executableType"/>
            </xs:choice>
            <xs:element name="updatecheck" type="updateCheckType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="validator" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="os" type="types:osType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="required" type="types:yesNoTrueFalseType"/>
        <xs:attribute name="hidden" type="xs:boolean" default="false"/>
        <xs:attribute name="preselected" type="types:yesNoTrueFalseType" use="optional"/>
        <xs:attribute name="loose" type="xs:boolean" use="optional"/>
        <xs:attribute name="condition" type="xs:string" use="optional"/>
        <xs:attribute name="installGroups" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="refpackType">
        <xs:attribute name="file" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="refpackSetType">
        <xs:attribute name="dir" type="xs:string" use="required"/>
        <xs:attribute name="includes" type="xs:string" use="required"/>
    </xs:complexType>

    <!--                                                                                                        -->
    <!-- File sets                                                                                              -->
    <!--                                                                                                        -->
    <xs:complexType name="fileSetTypeDisk">
        <xs:sequence>
            <xs:element name="include" type="types:includeExcludeType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="exclude" type="types:includeExcludeType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="additionaldata" type="additionalDataType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="os" type="types:osType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="dir" type="xs:string" use="required"/>
        <xs:attribute name="includes" type="xs:string" use="optional"/>
        <xs:attribute name="excludes" type="xs:string" use="optional"/>
        <xs:attribute name="targetdir" type="xs:string" use="optional" default="${INSTALL_PATH}"/>
        <xs:attribute name="override" type="overrideType" use="optional" default="false"/>
        <xs:attribute name="overrideRenameTo" type="xs:string" use="optional"/>
        <xs:attribute name="condition" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="fileSetTypePack">
        <xs:sequence>
            <xs:element name="include" type="types:includeExcludeType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="exclude" type="types:includeExcludeType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="includes" type="xs:string" use="optional"/>
        <xs:attribute name="excludes" type="xs:string" use="optional"/>
        <xs:attribute name="targetdir" type="xs:string" use="optional" default="${INSTALL_PATH}"/>
    </xs:complexType>

    <xs:complexType name="fileType">
        <xs:sequence>
            <xs:element name="condition" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="additionaldata" type="additionalDataType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="os" type="types:osType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="src" type="xs:string" use="required"/>
        <xs:attribute name="targetdir" type="xs:string" use="required"/>
        <xs:attribute name="override" type="overrideType" use="optional" default="false"/>
        <xs:attribute name="blockable" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="unpack" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="casesensitive" type="xs:boolean" use="optional" default="true"/>
        <xs:attribute name="defaultexcludes" type="xs:boolean" use="optional" default="true"/>
        <xs:attribute name="followsymlinks" type="xs:boolean" use="optional" default="true"/>
    </xs:complexType>

    <xs:complexType name="singleFileType">
        <xs:sequence>
            <xs:element name="condition" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="additionaldata" type="additionalDataType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="os" type="types:osType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="src" type="xs:string" use="required"/>
        <xs:attribute name="target" type="xs:string" use="required"/>
        <xs:attribute name="override" type="overrideType" use="optional" default="false"/>
        <xs:attribute name="blockable" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="unpack" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>

    <xs:complexType name="parsableType">
        <xs:sequence>
            <xs:element name="fileset" type="fileSetTypePack" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="os" type="types:osType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="targetfile" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="substitutionType" use="optional" default="plain"/>
        <xs:attribute name="encoding" type="xs:string" use="optional"/>
        <xs:attribute name="condition" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="executableType">
        <xs:sequence>
            <xs:element name="fileset" type="fileSetTypePack" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="args" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="arg" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="value" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="os" type="types:osType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="targetfile" type="xs:string" use="optional"/>
        <xs:attribute name="stage" use="optional" default="never">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="never"/>
                    <xs:enumeration value="postinstall"/>
                    <xs:enumeration value="uninstall"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="keep" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="condition" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="updateCheckType">
        <xs:sequence>
            <xs:element name="include" type="types:includeExcludeType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="exclude" type="types:includeExcludeType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="overrideType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
            <xs:enumeration value="asktrue"/>
            <xs:enumeration value="askfalse"/>
            <xs:enumeration value="update"/>
        </xs:restriction>
    </xs:simpleType>


    <!--                                                                                                        -->
    <!-- Natives                                                                                                -->
    <!--                                                                                                        -->
    <xs:complexType name="nativesType">
        <xs:sequence>
            <xs:element name="native" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="os" type="types:osType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="type" type="xs:string" use="required"/>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="src" type="xs:string" use="optional"/>
                    <xs:attribute name="stage">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="both"/>
                                <xs:enumeration value="uninstall"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!--                                                                                                        -->
    <!-- Miscellaneous elements                                                                                 -->
    <!--                                                                                                        -->

    <xs:complexType name="additionalDataType">
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="nameValueType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:simpleType name="substitutionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ant"/>
            <xs:enumeration value="at"/>
            <xs:enumeration value="java"/>
            <xs:enumeration value="javaprop"/>
            <xs:enumeration value="plain"/>
            <xs:enumeration value="shell"/>
            <xs:enumeration value="xml"/>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>
